@import '~antd/dist/antd.css';
body{
  background: #f2f2f2;
}
.topbanner{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content:center;
}
.topbanner h1{
  font-size: 5em
}
.card_content{
  padding:10px
}
